pandas==3.0.2
numpy==2.4.4
matplotlib==3.10.8
seaborn==0.13.2
statsmodels==0.14.6
scikit-learn==1.8.0
xgboost==3.3.0
lightgbm==4.6.0
jupyter-core==5.9.1
nbformat==5.10.4
nbconvert==7.17.1
notebook>=7.0.0
